/* Existing styles */
.container {
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
    width: 100%; /* Adjust based on your layout needs */
    max-width: 1000px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section {
    margin: 20px auto;
}

.section-title {
    color: #333;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.section-content {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}

/* New styles for input box and button */
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    color: #fff;
    background-color: #2b2b2b;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Additional enhancements */
.section-content p {
    margin-bottom: 15px;
}

.section-content a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.section-content a:hover {
    color: #0056b3;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #242424;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}
